a {
    color:black;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: solid gray 1px;
    margin: 0px;
    padding: 20px;
}
ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
}
body {
    margin: 0;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol{
    padding-left: 45px;
    font-size: 20px;
}
#grid #article{
    padding-left: 50px;
}
@media(max-width:525px){
    #grid{
    display: block;}
    #grid #article{
    padding-left: 20px;
}
    ol {
    border-right: none
}
    h1 {
    font-size: 30px;
    border-bottom: none;}
}